<section>
    <div class="d-flex p-2 bd-highlight justify-content-between bg-light">
        <button (click)="fetchData()" class="btn btn-dark" color="primary">Refresh</button>
        
         <ng-select style="width: 200px"
                    [items]="allCountriesNames" 
                    bindLabel="country" 
                    bindValue="country"   
                    appearance="outline"
                    [(ngModel)]="selectedCountryName"
                    (ngModelChange)="setCountry()">
         </ng-select>
    </div>
</section>

<div class="text-center">
    <div class="display-2" id="maincounterCases">
        <p>Global confirmed:</p>
        <p>{{globalSummary.cases}}</p>
    </div>
    <div class="display-2" id="maincounterDeaths">
        <p>Global deaths:</p>
        <p>{{globalSummary.deaths}}</p>
    </div>
</div>

<div class="text-center">
    <div class="display-2" id="maincounterCases">
        <p>{{selectedCountry.country}} confirmed:</p>
        <p>{{selectedCountry.cases}}</p>
    </div>
    <div class="display-2" id="maincounterDeaths">
        <p>{{selectedCountry.country}} deaths:</p>
        <p>{{selectedCountry.deaths}}</p>
    </div>
</div>