<p>main works!</p>

<section>
    <div class="d-flex p-2 bd-highlight justify-content-between bg-light">
        <button (click)="getData1()" class="btn btn-dark" color="primary">getData1</button>
        <button (click)="getData2()" class="btn btn-dark" color="primary">getData2</button>
        <button (click)="getData3()" class="btn btn-dark" color="primary">getData3</button>
        <button (click)="getData4()" class="btn btn-dark" color="primary">getData4</button>
        <button (click)="getData5()" class="btn btn-dark" color="primary">getData5</button>
    </div>
</section>

<div class="text-center">
    <div class="display-2" id="maincounterCases">
        <p>Global confirmed:</p>
        <p>{{globalSummary.cases}}</p>
    </div>
    <div class="display-2" id="maincounterDeaths">
        <p>Global deaths:</p>
        <p>{{globalSummary.deaths}}</p>
    </div>
</div>