<!-- <button (click)="getData()" class="btn btn-dark" color="primary">get data</button>
<button (click)="resetChart()" class="btn btn-dark" color="primary">reset chart</button> -->

<div class="d-flex justify-content-start flex-wrap">
  <ng-select style="width: 200px"
    [items]="allCountriesNames" 
    bindLabel="country" 
    bindValue="country"   
    appearance="outline"
    [(ngModel)]="selectedCountryName"
    (ngModelChange)="setCountry()">
  </ng-select>

  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" #startDate>
      <input matEndDate placeholder="End date" #endDate
      (dateChange)="dateRangeChange(startDate, endDate)">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <div #checkboxes>
      <mat-checkbox class="example-margin" (change)="setConfirmed($event.checked)">Show confirmed</mat-checkbox>
      <mat-checkbox class="example-margin" (change)="setDeaths($event.checked)">Show deaths</mat-checkbox>
      <mat-checkbox class="example-margin" (change)="setActive($event.checked)">Show active</mat-checkbox>
  </div>
</div>

<div  #chartContainer>
  <p-chart type="line" [data]="data"></p-chart>
  </div>
  